<a href="https://colab.research.google.com/github/RadhikaDhama/Practice-work/blob/main/input%20methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# problem statements
a=input("Enter first num")
b=input("Enter second num")
c=int(a)+int(b)
print(c)

Enter first num56
Enter second num90
146

In [ ]:
# problem statements
a=input("Enter first num")
b=input("Enter second num")
c=int(a)%int(b)
print(c)

Enter first num88
Enter second num3
1

In [ ]:
a=34
b=80
a>b

False

In [ ]:

a=input("Enter first num")
b=input("Enter second num")
c=(int(a)+int(b))/2
print(c)

Enter first num5
Enter second num7
6.0

In [ ]:
a=input("Enter the num")
x=int(a)**2
print(x)

Enter the num45
2025

In [ ]:
a=input("Enter your name")
print("Good Afternoon, "+a )

Enter your nameRohan
Good Afternoon, Rohan

In [ ]:
letter='''Dear <|NAME|>,
You are selected! Greetings from TedX!
Hope you are well
Date:<|DATE|>'''
name=input("Enter your name")
date=input("Enter date")
letter=letter.replace("<|NAME|>",name)
letter=letter.replace("<|DATE|>",date)
print(letter)

Enter your nameRadhika
Enter date6 August
Dear Radhika,
You are selected! Greetings from TedX!
Hope you are well
Date:6 August

In [ ]:
lit="this is a string  with double    space"
doublespaces=lit.find("  ")  # give index ,if no space then output is-1
print(doublespaces)

16

In [ ]:
doublespaces=lit.replace("  "," ")#replace 4 spaces with 2
print(doublespaces)

this is a string with double  space

In [ ]:
letter="Dear Choti,Happy Birthday"
formatted letter="Dear Tiya,\n\tHappy Birtday\nLots of wishes"
print(formatted letter)

SyntaxError: ignored